<section
  class="min-h-screen flex flex-col justify-center py-24 md:py-0 bg-[#8C4653] text-white"
>
  <div class="overflow-hidden relative">
    <div class="flex gap-4 animate-carousel carousel-track">
      {
        Array.from({ length: 8 }).map((_, i) => (
          <img
            src={`/images/vestimenta${i + 1}.png`}
            class="max-h-[32rem] object-cover rounded-xl opacity-0 carousel-img shadow-2xl"
            alt={`Foto ${i + 1}`}
          />
        ))
      }

      {
        Array.from({ length: 8 }).map((_, i) => (
          <img
            src={`/images/vestimenta${i + 1}.png`}
            class="max-h-[32rem] object-cover rounded-xl opacity-0 carousel-img shadow-2xl"
            alt={`Foto ${i + 1} duplicada`}
          />
        ))
      }
    </div>
  </div>
  <div class="max-w-3xl mx-auto mt-8 text-center opacity-0 carousel-text px-8">
    <p class="text-3xl font-bold">¡Trae tu mejor look!</p>
    <p class="text-xl mt-4">
      Los colmillos y los lentes de contacto son opcionales, ¡pero muy
      recomendados!
    </p>
  </div>
</section>
