<section
  class="min-h-screen flex flex-col justify-center py-24 md:py-0 2xl:p-24 bg-[#2D2924] text-white px-8"
>
  <div class="grid md:grid-cols-3 gap-8 mb-12 place-items-center">
    <img
      src="/images/7de4231c-eaf1-4c1e-862c-89fd85dbc64c.png"
      alt="Imagen 1"
      class="rounded-xl shadow-lg opacity-0 gallery-img-1"
    />
    <img
      src="/images/61759171-1896-4fcf-8492-56152e1828b2.png"
      alt="Imagen 2"
      class="rounded-xl shadow-lg opacity-0 gallery-img-2"
    />
    <img
      src="/images/210dad70-3550-45cf-8915-655cf123471a.png"
      alt="Imagen 3"
      class="rounded-xl shadow-lg opacity-0 gallery-img-3"
    />
  </div>
  <div class="opacity-0 gallery-text">
    <p class="text-center text-3xl">Acompáñanos en esta fecha tan especial.</p>
    <p class="text-center text-3xl font-bold mt-4">2 de agosto de 2025</p>
    <p class="text-center text-2xl font-bold mt-4">
      Milán condominio 4, apto. 429, Envigado
    </p>
  </div>
</section>
