<section
  class="min-h-screen py-24 md:py-0 flex items-center justify-center bg-[#2D2924] text-white px-8"
>
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <div class="text-center space-y-6 opacity-0 save-text">
      <h2 class="text-4xl font-bold">¡Reserva la fecha!</h2>
      <p class="text-lg">
        Guarda el evento en tu calendario para no perderte esta celebración.
      </p>
      <a
        href="/calendar/save-the-date.ics"
        download
        class="inline-block px-6 py-3 bg-white text-[#2D2924] font-semibold rounded-lg shadow hover:bg-gray-200 transition"
        >Descarga el evento</a
      >
    </div>
    <div class="flex justify-center">
      <img
        src="/images/41fe4ebb-a78b-45dd-845e-78b769eb0945.png"
        alt="Save the Date"
        class="h-[32rem] object-cover rounded-xl shadow-lg opacity-0 save-img"
      />
    </div>
  </div>
</section>
