---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/lens.png" />
    <meta name="generator" content={Astro.generator} />
    <title>¡Es mi cumpleaños! 🎉</title>
  </head>
  <body>
    <slot />
    <script type="module" src="/src/scripts/gsap-hero.js"></script>
    <script type="module" src="/src/scripts/gsap-gallery.js"></script>
    <script type="module" src="/src/scripts/gsap-carousel.js"></script>
    <script type="module" src="/src/scripts/gsap-gifts.js"></script>
    <script type="module" src="/src/scripts/gsap-savethedate.js"></script>
    <script type="module" src="/src/scripts/gsap-karaoke.js"></script>
    <script type="module" src="/src/scripts/gsap-rsvp.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
</style>
